<div class="page-container">
  <h1>Portas</h1>

  <!-- Links para as portas -->
  <div class="links">
    <div class="link" [routerLink]="['porta1']" [class.unlocked]="isPageUnlocked('porta1')">Porta 1</div>
    <div class="link" [routerLink]="['porta2']" [class.unlocked]="isPageUnlocked('porta2')" [class.locked]="!isPageUnlocked('porta1')">Porta 2</div>
    <div class="link" [routerLink]="['porta3']" [class.unlocked]="isPageUnlocked('porta3')" [class.locked]="!isPageUnlocked('porta2')">Porta 3</div>
  </div>

  <!-- Conteúdo dinâmico da porta selecionada -->
  <router-outlet name="outletDoors"></router-outlet>
</div>
