.small-locks {
  display: flex;
  justify-content: center;
}

.small-lock,
.big-lock {
  width: 20px;
  height: 20px;
  background-color: #f78989;
  margin: 10px;
}

.small-lock {
  cursor: pointer;
}

.big-lock {
  cursor: default; 
  font-size: 40px;
  width: 40px;
  height: 42px;
}

.big-locks {
  display: flex;
  justify-content: center;
}

.unlocked {
  background-color: #4caf50;
}
