    <!-- <div class="cadeado-pequeno" (click)="abrirCadeadoPequeno(1)" [class.interativo]="!cadeadoPequeno1Aberto"></div>
    <div class="cadeado-pequeno" (click)="abrirCadeadoPequeno(2)" [class.interativo]="!cadeadoPequeno2Aberto"></div>
    <div class="cadeado-pequeno" (click)="abrirCadeadoPequeno(3)" [class.interativo]="!cadeadoPequeno3Aberto"></div>
    <div class="cadeado-grande" [class.interativo]="!cadeadoGrandeAberto" (click)="abrirCadeadoGrande()">
      <span class="icon">{{ cadeadoGrandeAberto ? '✓' : '' }}</span>
    </div> -->